* {
  padding: 0;
  margin: 0;
  border: 0;
}

@font-face {
  font-family: Lato;
  src: url(Lato/Lato-Regular.ttf);
}


#main-container {
  width: 100%;
  height: auto;
  background-color: #F2F3F6;
}

.header {
  height: 222px;
  width: 100%;
}

#nav-1 {
  height: 156px;
  font-size: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-around;
}


#nav-2 {
  height: 64px;
  background-color: #252527;
  width: 100%;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
}

#nav-1 img {
  cursor: pointer;
}

#nav-1 input {
  background: #F6F6F6;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 337px;
  height: 47px;
  margin-top: 65px;
  outline: none;
}

#nav-1 input::placeholder {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #8E9299;
}

input[type="text"i] {
  padding: 7px 0px 0px 18px;
}

#logos {
  width: 300px;
  display: flex;
  padding: 34px;
  margin-top: 24px;
  justify-content: space-between;
}

#nav-2 a {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  margin-top: 15px;
  cursor: pointer;
}

#nav-2 ul {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-around;
}

#nav-2 a:hover {
  color: #E51D1D;
  transition: 2s;
}

.section_1 {
  height: auto;
}

#caixa_clinica {
  height: 558px;
  width: 77%;
  background: #F7F0F0;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 111px auto;
  display: flex;
  justify-content: center;
}

.fontes_desktop {
  color: rgba(229, 29, 29, 0.99);
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  -webkit-text-stroke: #000000 1px;
  justify-content: center;

}

#caixas {
  width: 1240px;
  display: flex;
  margin:auto;

  flex-wrap: wrap;
  
}

.caixa {
  margin: auto;
  width: 500px;
  height: 470px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  
}

#caixa1, #caixa2, #caixa3, #caixa4, #caixa5, #caixa6{
  float:left;
  margin-top: 105px;
}
